*{
  margin: 0;
  padding: 0;
}
.topnav {
  overflow: hidden;
  display: flex;
  justify-content:space-evenly;
  position: sticky;
  top: 0px;
  background-color: #292f36;
}
.topnav a{
  float: center;
  color: #f7fff7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover{
  background-color: #4a5561;
  color: white;
}
body{
  font-family: 'Sarabun', sans-serif;
}
header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url(https://images.unsplash.com/photo-1569437061241-a848be43cc82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  color: white;
  background-color: #292F36;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0!important;
}
.story1{
  height: 300vh;
  display: flex;
}
.titletext{
  width: 38.2%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 3.82%;
  background-color: white;

}
.storypic1{
  width: 61.8%;
  height: cover;
  margin: 0!important;
}
.storypic1 div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
