body{
  background-image: url("https://cdn.discordapp.com/attachments/736376827982905356/737754953422078032/Background_-_Good_Vibes.jpg");
  background-size: initial;
}
.topnav {
  overflow: hidden;
  display: flex;
  justify-content:space-evenly;
  position: sticky;
  top: 0px;
}
.topnav {
  background-color: #292f36;
  overflow: hidden;
}

.topnav a {
  float: center;
  color: #f7fff7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #4a5561;
  color: white;
}

.left, .right{
  height:100vh;
  width:100%;
}
@media screen and(min-width:768px){
  .left, .right{
    height:100vh;
  }
}
.left{
  background:rgb(133, 121, 145);
  opacity: 0.8;
 /*background-image: url("https://i.gifer.com/9vil.gif");*/
  background-size: cover;

}
.right{
  background:rgb(247, 186, 186);
  opacity: 0.8;
  /* background-image: url("https://i.pinimg.com/originals/14/3d/cd/143dcd6d932d6b10475014e1bddc9c32.gif");*/
  background-size: cover;
}
a.button2{
  display:inline-block;
  padding:0.5em 3em;
  border:0.16em solid #5a5656;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color: #4a5561;
  text-align:center;
  transition: all 0.15s;
  }
  a.button2:hover{
  color:#3d1c1c;
  border-color:#DDDDDD;
  }
  a.button2:active{
  color:#BBBBBB;
  border-color:#BBBBBB;
  }
  @media all and (max-width:30em){

  a.button2{
  display:block;
  margin:0.4em auto;
   }


div.gallery {
  float: left;
}
div.gallery.hover{
  border: 1px solid #777;
}
div.gallery img{
  width:400px;
  height:400px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right:4px;
  margin-bottom: 4px;
}

a:link {
  color:grey;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color:rgb(56, 52, 52);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: darkgray;
  background-color: transparent;
  text-decoration: underline;
}

h1{
  text-align-last: center;
  color: chocolate;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

.container {
  overflow: hidden;
}

.sliding-background {
  background-image: url("https://cdn.discordapp.com/attachments/736376827982905356/737754953422078032/Background_-_Good_Vibes.jpg") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}
