.left, .right{
  height:100vh;
  width:100%;
}
.left{
  background:blueviolet;

}
.right{
  background:rgb(201, 105, 105);

}


.container {
  overflow: hidden;
}

.sliding-background {
  background: url("#") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}
