.navbar {
  overflow: hidden;
  display: flex;
  justify-content:space-evenly;
  position: sticky;
  top: 0px;
}
body{
  background-image: url("https://media.discordapp.net/attachments/736376827982905356/737754953422078032/Background_-_Good_Vibes.jpg")
}
