*{
  box-sizing:border-box;
}
.topnav {
    overflow: hidden;
    display: flex;
    justify-content:space-evenly;
    position: sticky;
    top: 0px;
  }
  .topnav {
    background-color: #292f36;
    overflow: hidden;
  }
  .topnav a {
    float: center;
    color: #f7fff7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #4a5561;
    color: white;
  }

  body{
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    /* position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; */
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
.navbuttons {
    overflow: hidden;
    display: flex;
    justify-content:space-evenly;
    position: sticky;
    top: 0px;
}
button {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  border: solid 10px;
  padding: 5px;
  outline: none;
  margin-top: 10px;
  background-color: #1d232b;
  border: solid rgb(231, 67, 95);
  color: white;
  letter-spacing: 3px;
  font-size: 1em;
}
button:hover {
    background-color: rgb(243, 243, 49);
    color: rgb(42, 148, 209);
    border: solid rgb(243, 243, 49);
    opacity: 0.8;
}
.content {
  text-align: center;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
h1 {
  letter-spacing: 6px;
  text-indent: 10em;
  font-size: 2em;
  color: white;
}
